<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>inCommon - Find people who share your passions.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="../../static/css/style.css"
          th:href="@{/css/style.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.2/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery-ui/1.11.4/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
          rel="stylesheet" media="screen"/>
</head>
<body>

</body>
</html>