<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head lang="en">

</head>
<body>
<div class="container">
    <div th:fragment="menu">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/}">Home</a></li>
                        <li sec:authorize="!hasAuthority(T(ic.services.MongoUserDetailsService).USER_ROLE)"><a href="#" th:href="@{/login}">Sign in</a></li>
                        <li sec:authorize="!hasAuthority(T(ic.services.MongoUserDetailsService).USER_ROLE)"><a href="#" th:href="@{/register}">Sign up</a></li>
                        <li><a href="#" th:href="@{/interests}">Interests</a></li>
                        <li sec:authorize="hasAuthority(T(ic.services.MongoUserDetailsService).USER_ROLE)"><a href="#" th:href="@{/match}">Match</a></li>
                        <li sec:authorize="hasAuthority(T(ic.services.MongoUserDetailsService).USER_ROLE)"><a href="#" th:href="@{/your-interests}">Your interests</a></li>
                        <li sec:authorize="hasAuthority(T(ic.services.MongoUserDetailsService).USER_ROLE)"><a href="#" th:href="@{/you}">Your profile</a></li>
                        <li sec:authorize="hasAuthority(T(ic.services.MongoUserDetailsService).USER_ROLE)"><a href="#" th:href="@{/edit-profile}">Edit profile</a></li>
                        <li sec:authorize="hasAuthority(T(ic.services.MongoUserDetailsService).ADMIN_ROLE)"><a href="#" th:href="@{/reports}">Reports</a></li>
                        <li sec:authorize="hasAuthority(T(ic.services.MongoUserDetailsService).USER_ROLE)"><a href="javascript: document.logoutForm.submit()">Sign out</a></li>
                    </ul>
                </div>
            </div>

            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input type="submit" value="Sign Out"/>
            </form>

        </nav>
    </div>
</div>
</body>
</html>