#interest-page {
    position: relative;
}

    #graph ul {
        width: 970px;
        position: absolute;
        text-align: center;
        padding-left: 0;
    }

    #graph li {
        display: inline-block;
        padding: 25px;
        margin: 0px 12px;
        background-color: #c2d2fb;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    }

        #graph li a:hover {
            text-decoration: none;
        }

        #graph li .popularity {
            float: right;
            font-size: 11px;
            font-weight: bold;
        }

            #graph li .popularity div {
                float: left;
                padding-left: 2px;
            }

        #graph .interest-current li {
            background-color: #9fb9f9;
        }

    #graph .left, #graph .right {
        display: block;
        width: 25px;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        position: relative;
        z-index: 999;
    }

    #graph .left {
        float: left;
        background-image: url(../images/icons/left-arrow.png);
    }

    #graph .right {
        float: right;
        background-image: url(../images/icons/right-arrow.png);
    }

    #graph .interest-container {
        width: 100%;
        height: 91px;
        margin-bottom: 5px;
    }

        #graph .interest-current .interest-view, #graph .interest-current ul {
            width: 1020px !important;
        }

    #graph .interest-view {
        width: 970px;
        float: left;
        position: relative;
        height: 91px;
        overflow: hidden;
        white-space:nowrap;
    }

#search {
    position: relative;
    display: inline-block;
}

    #search ul {
        position: absolute;
        z-index: 999;
        left: -20px;
        top: 27px;
        list-style-type: none;
    }

    #search a {
        width: 197px;
        display: inline-block;
        background-color: white;
        padding: 5px 0;
        text-indent: 5px;
    }

        #search a:hover {
            background-color: #c2d2fb;
            text-decoration: none;
        }

#search-input {
    width: 200px;
    text-indent: 5px;
}

#breadcrumbs {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -40px;
}

    #breadcrumbs li {
        display: inline;
        font-size: 12px;
        font-style: italic;
    }

    #breadcrumbs li:before {
        content: " -> ";
    }

    #breadcrumbs li:first-child:before {
        content: "";
    }

#graph-operations {
    float: right;
    position: relative;
    z-index: 999;
}

#graph-operations p {
    display: none;
    text-align: right;
    cursor: pointer;
    color: #337ab7;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#graph-operations p:hover {
    text-decoration: underline;
}

#user-interest-ratio {
    margin-top: 20px;
    font-size: 12px;
}

    #user-interest-ratio span {
        font-weight: bold;
    }

#interest-operations-panel {
    display: block;
    width: 130px;
    position: absolute;
    right: 60px;
    top: 111px;
}

    #interest-operations-panel input {
        width: 130px;
    }

    #interest-operations-panel textarea {
        width: 130px;
        height: 40px;
        resize: none;
    }

    #interest-operations-panel button {
        width: 130px;
    }

#edit-interests {
    width: 50%;
}

    #edit-interests div {
        float: right;
    }

            #edit-interests div > div > span {
                padding: 1px;
            }

    #edit-interests span {
        padding-right: 30px;
    }

    #edit-interests img {
        cursor: pointer;
    }

#mapid {
    height: 300px;
    z-index: 0;
}

    #user-page p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #user-page ul {
        padding-left: 0;
    }

    #user-page li {
        list-style-type: none;
        display: inline;
    }

    #user-page li:before {
        content: ",";
    }

    #user-page li:first-child:before {
        content: "";
    }

    #user-info {
        overflow-x: hidden;
        overflow-y: visible;
        margin-bottom: 20px;
    }

    #user-info img {
        float: left;
        margin-right: 10px;
    }

.new-interest-button {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 75px;
    cursor: pointer;
}

.new-interest-relation {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.new-parent {
    bottom: 0;
}

.new-child {
    top: 0;
}

.chosen-relation {
    color: #337ab7;
    text-decoration: underline;
    cursor: pointer;
}

.available-relation {
    color: #337ab7;
    cursor: pointer;
}

.available-relation:hover {
    text-decoration: underline;
}

.report-button {
    height: 20px;
    float: left;
    padding-right: 5px;
    display: none;
}

#dialog-form label, #dialog-form input {
    display: block;
}

#dialog-form input.text, #dialog-form select, #dialog-form textarea {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

#dialog-form fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

#dialog-form h1 {
    font-size: 1.2em;
    margin: .6em 0;
}

#dialog-form div#users-contain {
    width: 350px;
    margin: 20px 0;
}

#dialog-form div#users-contain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

#dialog-form div#users-contain table td, #dialog-form div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

#dialog-form .ui-dialog .ui-state-error {
    padding: .3em;
}

#dialog-form .validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}