<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <div class="jumbotron">
    <h2>Login</h2>
    <div>
        <form class="form-horizontal" th:action="${loginProcessingUrl}" method="post">

            <div th:if="${param.error}">
                Login unsuccessful!
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                    <input type="text" id="username" name="username" placeholder="username"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" id="password" name="password" placeholder="password"/>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Log in</button> <br />
            <a th:href="${'/passwordrecovery'}">Forgot password?</a>

        </form>
    </div>
    </div>

</div>
</body>
</html>