<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <div class="jumbotron">
        <h2>Matching Users</h2>
        <table width="100%">
            <tr th:if="${ageProvided}">
                <td valign="top" width="100px">Age:</td>
                <td valign="top" width="100px"><input type="text" id="age-amount" readonly="" style="border:0; background: transparent; font-weight:bold;"/></td>
                <td valign="top"><div id="age-range"></div></td>
            </tr>
            <tr th:if="${locationProvided}">
                <td valign="top" width="100px">Distance:</td>
                <td valign="top" width="100px"><input type="text" id="distance-amount" readonly="" style="border:0; background: transparent; font-weight:bold;"/></td>
                <td valign="top"><div id="distance-range"></div></td>
            </tr>
            <tr th:if="${genderProvided}">
                <td valign="top" width="100px">Sex:</td>
                <td valign="top" width="100px"><input type="text" id="sex-desc" readonly="" style="border:0; background: transparent; font-weight:bold;"/></td>
                <td valign="top"><input type="checkbox" id="check1"/><label for="check1">♂</label><input type="checkbox" id="check2"/><label for="check2">♀</label></td>
            </tr>
            <tr th:if="${ageProvided || locationProvided || genderProvided}">
                <td align="right" colspan="3"><button id="submit" class="btn btn-default">Search</button></td>
            </tr>
        </table>
        <ul>
            <li th:if="${not #lists.isEmpty(list)}" th:each="user : ${list}">
                <a th:href="${'/user/' + user.username}" th:text="${user.username}">name</a>
            </li>
        </ul>
    </div>
</div>

<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
  $(document).ready(function() {

    // age selector

    var age_min = 0;
    var age_max = 120;
    var age_left = [[${age_left}]];
    var age_right = [[${age_right}]];
    if(!age_left) age_left = age_min;
    if(!age_right) age_right = age_max;

    $("#age-range" ).slider({range: true, min: age_min, max: age_max,
      values: [age_left, age_right], slide: function(event, ui) {
        age_left = ui.values[0];
        age_right = ui.values[1];
        $("#age-amount").val(getAmountTextAge(age_min, age_max, age_left, age_right, "years"));
      }
    });
    $("#age-amount").val(getAmountTextAge(age_min, age_max, age_left, age_right, "years"));

    function getAmountTextAge(min, max, left, right, unit){
      if(left == min && right == max) return "any";
      else if(left == right) return right + " " + unit;
      else if(left == min) return "to " + right + " " + unit;
      else if(right == max) return "from " + left + " " + unit;
      else return "from " + left + " to " + right + " " + unit;
    }

    // distance selector

    var distance_min = 0;
    var distance_max = 1000;
    var distance = [[${distance}]];
    if(!distance) distance = distance_max;

    $("#distance-range").slider({range: "min", min: distance_min, max: distance_max,
      value: distance, slide: function(event, ui) {
        distance = ui.value;
        $("#distance-amount").val(getAmountTextDistance(distance_min, distance_max, distance, "km"));
      }
    });
    $("#distance-amount").val(getAmountTextDistance(distance_min, distance_max, distance, "km"));

    function getAmountTextDistance(min, max, value, unit){
      if(value == max) return "any";
      else return "max " + value + " " + unit;
    }

    // sex selector

    var male = [[${male}]];
    var female = [[${female}]];

    $("#check1").button();
    $("#check2").button();

    $("#check1").change(function() {
      male = this.checked;
      $("#sex-desc").val(getDescSex());
    });

    $("#check2").change(function() {
      female = this.checked;
      $("#sex-desc").val(getDescSex())
    });

    if(male) $("#check1").click();
    if(female) $("#check2").click();
    $("#sex-desc").val(getDescSex())

    function getDescSex(){
      if(male && female) return "any";
      else if(male) return "male";
      else if(female) return "female";
      else return "not male, not female";
    }

    // submit button

    $("#submit").click(function(){
      if(age_left == age_min && age_right == age_max){
        age_left = null;
        age_right = null;
      }
      if(distance == distance_max) distance = null;
      $.ajax(
        {
          method: 'POST',
          url: '/edit-preferences',
          data: {
            [[${_csrf.parameterName}]]: [[${_csrf.token}]],
            age_left: age_left,
            age_right: age_right,
            distance: distance,
            male : male,
            female : female
          },
          success: function (data) {
            location.reload();
          }
        }
      );
    });

  });
/*]]>*/
</script>

</body>
</html>