<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <div class="jumbotron">
    <h2>Password recovery</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/passwordrecovery}" method="post">

            <div th:if="${#fields.hasGlobalErrors()}">
                <div th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{username}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Mail:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{mail}"/>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Remind me</button>
            </div>

        </form>
    </div>
    </div>

</div>
</body>
</html>