<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <div class="jumbotron">
    <h2>Edit profile</h2>
    <div>
        <form class="form-horizontal" th:object="${profile}" th:action="@{/saveProfile}" method="post" enctype="multipart/form-data">
<!--
            <input type="hidden" th:field="*{username}"/>
            uncomment if you want the generated user object have the same id. for now it doesn't matter
-->
            <div class="form-group">
                <label class="col-sm-2 control-label">Mail:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{mail}"/>
                    Using the correct email address will help remember your password in case you forget it. It will not be visible to other users.
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Surname:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{surname}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Avatar:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="avatar-image" accept="image/*"/> <br />
                    <img th:src="${'/avatar/' + profile.username}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sex:</label>
                <div class="col-sm-10">
                    <select class="form-control" th:field="*{gender}">
                        <option th:each="igender : ${T(ic.domain.users.Gender).values()}" th:value="${igender}" th:text="${igender.name}"></option>
                    </select>
                    Providing sex will allow you to search users by their sex.
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Birthday:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{birthday}" id="datepicker"/>
                    Providing age will allow you to search others by their age.
                </div>
            </div>
            <input type="hidden" th:field="*{latLng.lat}" id="lat"/>
            <input type="hidden" th:field="*{latLng.lng}" id="lng"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Location:</label>
                <div class="col-sm-10">
                    <div id="mapid"></div>
                    Providing location will allow you to search users nearby.
                </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>

            <script src="/js/mapscript.js" type="text/javascript"></script>

            <script th:inline="javascript">
                /*<![CDATA[*/
                var lat = document.getElementById("lat").value;
                var lng = document.getElementById("lng").value;
                center(lat, lng);
                /*]]>*/
            </script>

            <script>
                $(function () {
                    $("#datepicker").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "-100:+0",
                        dateFormat: 'dd/mm/yy'
                    });
                });
            </script>
        </form>
    </div>
    </div>

    <div class="jumbotron">
        <h2>Edit password</h2>
        <div>
            <form class="form-horizontal" th:action="@{/editPassword}" method="post">
                <!--
                            <input type="hidden" th:field="*{username}"/>
                            uncomment if you want the generated user object have the same id. for now it doesn't matter
                -->

                <div class="form-group">
                    <label class="col-sm-2 control-label">New password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="newPassword"/>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>

            </form>
        </div>
    </div>


</div>

</body>
</html>