<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <div class="jumbotron">
        <h2>Report Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Interest name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" ><a th:text="${report.interestName}" th:href="${'/interests/' + report.interestName}">Interest name</a></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Issue date:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"
                           th:text="${new java.text.SimpleDateFormat(&quot;HH:mm:ss dd/MM/yyyy&quot;).format(report.issueDate)}">
                            Content</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Report type:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${report.reportType.caption}">Report type</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Reporter:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${report.reporter.username}">Reporter</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Content:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${report.content}">Content</p></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <p class="form-control-static"><a th:href="${'/report/delete/' + report.id}"
                                                          onclick="return confirm('Are you sure you want to delete this report?')">Resolve</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>