<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <div class="jumbotron">
        <h2>Reports</h2>
        <table class="table table-striped">
            <tr>
                <th>Issue date</th>
                <th>Report type</th>
                <th>Interest name</th>
                <th>View details</th>
                <th>Resolve</th>
            </tr>
            <tr th:each="report : ${reports}">
                <td th:text="${new java.text.SimpleDateFormat(&quot;HH:mm:ss dd/MM/yyyy&quot;).format(report.issueDate)}">Issue date</td>
                <td th:text="${report.reportType.caption}">Report type</td>
                <td><a th:text="${report.interestName}" th:href="${'/interests/' + report.interestName}">Interest name</a></td>
                <td><a th:href="${'/report/' + report.id}">View</a></td>
                <td><a th:href="${'/report/delete/' + report.id}" onclick="return confirm('Are you sure you want to delete this report?')">Resolve</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>