<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <div class="jumbotron">
        <h2 th:text="'Search results for interest: ' + ${name}">name</h2>
        <ul>
            <li th:if="${not #lists.isEmpty(list)}" th:each="interest : ${list}">
                <a th:href="${'/interests/' + interest}" th:text="${interest}">name</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>