<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <div id="user-page" class="jumbotron">
        <h2 th:text="${user.username}">username</h2>
        <div id="user-info">
            <img th:src="${'/avatar/' + user.username}"/>
            <p><span th:text="${user.name}">Name</span> <span th:text="${user.surname}">Surname</span></p>
            <p th:text="${user.gender == null ? null : user.gender.name}">Gender</p>
            <p th:text="${user.getAge() == null ? null : user.getAge() + ' years old'}">Age</p>
            <p id="location"></p>
        </div>
        <p th:each="entry : ${commonEquallyLikedInterestsNames}">
            You both <span th:text="${entry.key.getName()}">likeLevel</span>:
            <ul>
                <li th:if="${not #lists.isEmpty(entry.value)}" th:each="interestName : ${#lists.sort(entry.value)}">
                    <a th:href="${'/interests/' + interestName}" th:text="${interestName}"></a>
                </li>
            </ul>
        </p>
        <p th:if="${not #lists.isEmpty(userLovesActiveUserLikes)}">
            <span th:text="${user.username}">username</span> Loves, You Like:
            <ul>
                <li th:each="interestName : ${#lists.sort(userLovesActiveUserLikes)}">
                    <a th:href="${'/interests/' + interestName}" th:text="${interestName}"></a>
                </li>
            </ul>
        </p>
        <p th:if="${not #lists.isEmpty(userLikesActiveUserLoves)}">
            <span th:text="${user.username}">username</span> Likes, You Love:
            <ul>
                <li th:each="interestName : ${#lists.sort(userLikesActiveUserLoves)}">
                    <a th:href="${'/interests/' + interestName}" th:text="${interestName}"></a>
                </li>
            </ul>
        </p>
        <p th:each="entry : ${individualUserLikedInterestsNames}">
            <span th:text="${user.username}">username</span> <span th:text="${entry.key.getName()}">likeLevel</span>s:
            <ul>
                <li th:if="${not #lists.isEmpty(entry.value)}" th:each="interestName : ${#lists.sort(entry.value)}">
                    <a th:href="${'/interests/' + interestName}" th:text="${interestName}"></a>
                </li>
            </ul>
        </p>
    </div>
</div>
<form>
    <input type="hidden" th:field="${user.latLng.lat}" id="lat"/>
    <input type="hidden" th:field="${user.latLng.lng}" id="lng"/>
</form>
<script th:inline="javascript">
    /*<![CDATA[*/
    function httpGet(lat, lon) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                var result = xmlHttp.responseXML.getElementsByTagName("result").item(0);
                if(result != null) {
                    $("#location").text(result.textContent);
                }
            }
        }
        var format = "xml";
        var addressdetails = "1";
        var params = "lat=" + lat + "&lon=" + lon + "&format=" + format + "&zoom=" + 10 + "&addressdetails=" + addressdetails;
        xmlHttp.open("POST", "http://nominatim.openstreetmap.org/reverse?" + params, true);
        xmlHttp.send(null);
    }

    var lat = document.getElementById("lat").value;
    var lng = document.getElementById("lng").value;
    if (lat != null || lng != null) {
        httpGet(lat, lng);
    }
    /*]]>*/
</script>
</body>
</html>