<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <div class="jumbotron">
        <h2>Users</h2>
        <table class="table table-striped">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>View</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"><a href="/user/${user.username}">Username</a></td>
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.surname}">Surname</td>
                <td><a th:href="${'/user/' + user.username}">View</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>