<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/schema/mvc">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <script type="text/javascript" th:inline="javascript" sec:authorize="hasAuthority('user')">
        //<![CDATA[
        $(document).ready(function () {
            $("#edit-interests").on("click", "img", function () {
                var ind = this.id.lastIndexOf(' ');
                var interestName = this.id.substr(0, ind);
                var likeLevel = this.id.substr(ind + 1, this.id.length);
                var img = this;
                $.ajax(
                        {
                            method: 'POST',
                            url: '/like',
                            data: {
                                [[${_csrf.parameterName}]]: [[${_csrf.token}]],
                                interestName: interestName,
                                likeLevel: likeLevel,
                                displayedInterestName: interestName
                            },
                            success: function (data) {
                                var src = $(img).attr('src');
                                var idx = src.lastIndexOf(".");
                                if (src.indexOf("2") > -1) {
                                    src = src.substr(0, idx - 1) + src.substr(idx, src.length - idx);
                                } else {
                                    src = src.substr(0, idx) + "2" + src.substr(idx, src.length - idx);
                                    var otherId = interestName + " " + (likeLevel === "Love" ? "Like" : "Love");
                                    var other = $("[id='" + otherId + "']");
                                    var otherSrc = other.attr('src');
                                    idx = otherSrc.lastIndexOf(".");
                                    if (otherSrc.indexOf("2") > -1) {
                                        otherSrc = otherSrc.substr(0, idx - 1) + otherSrc.substr(idx, otherSrc.length - idx);
                                        other.attr('src', otherSrc);
                                    }
                                }
                                $(img).attr('src', src);
                                $.ajax(
                                        {
                                            method: 'GET',
                                            url: '/userInterestsRatio',
                                            success: function (data) {
                                                $("#user-interest-ratio span").html(data);
                                            }
                                        });
                            }
                        }
                );
            });
        });
        //]]>


    </script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->

    <div class="jumbotron">
        <h2>Your interests</h2>
        <p id="user-interest-ratio">
            Your interests / All interests ratio: <span th:text="${userInterestsRatio}">ratio</span><br/>
            The larger the ratio, the lesser the weight of a single like/love.
        </p>
        <table id="edit-interests" class="table table-striped">
            <tr th:each="entry : ${interests}">
                <td>
                    <span th:text="${entry.getKey()}"></span>
                    <div th:switch="${entry.getValue().getName()}">
                        <div th:case="Love">
                            <img th:id="${entry.getKey()} + ' Love'" th:src="@{/images/icons/love2.png}"/>
                        </div>
                        <div th:case="*">
                            <img th:id="${entry.getKey()} + ' Love'" th:src="@{/images/icons/love.png}"/>
                        </div>
                    </div>
                    <div th:switch="${entry.getValue().getName()}">
                        <div th:case="Like">
                            <img th:id="${entry.getKey()} + ' Like'" th:src="@{/images/icons/like2.png}"/>
                        </div>
                        <div th:case="*">
                            <img th:id="${entry.getKey()} + ' Like'" th:src="@{/images/icons/like.png}"/>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>